<html>
<head>
	<title>Life Events</title>
</head>

<body>
	<link rel="stylesheet" type="text/css" href="/application.css">
	<div class="jumbotron">
        <h1>These are my life events</h1>
        <p></p>
        <p><button onclick="window.location.href='/new'"class="btn btn-primary btn-lg">add an event »</button>
        <button onclick="window.location.href='/search'"class="btn btn-primary btn-lg">search »</button></p>
      </div>

	<h1>
	</h1>

	<ul>
		<% @events.each do |event| %>
		<li class="list-group-item"><%= event.event_name%>: <%= event.event_date %><a href="/life_events/<%= event.id %>/edit" class="btn btn-xs btn-success">   Edit</a><a href="/life_events/<%= event.id %>/show" class="btn btn-xs btn-danger">   Delete</a></li>
		<% end %>
	</ul>

</body>
</html>