<html>
<head>
	<title>Life Events</title>
</head>
<body>
	<h1>
		Add An Event
		<img src="http://www.sherv.net/cm/emo/funny/2/big-dancing-banana-smiley-emoticon.gif">
	</h1>

	<form action="/life_events" method="post">
		<input type="text" id="event_name" name="life_event[event_name]" value="Add Event Name">
		<input type="text" id="event_name" name="life_event[event_date]" value="Add Event Date">
		<input type="submit">
	</form>

</body>
</html>