<html>
<head>
	<title>Life Events</title>
</head>
<body>
	<h1>
		Search
	</h1>

	<form action="/search" method="post">
		<input type="text" id="event_name" name="life_event[event_name]" placeholder="Search for Event">
		<input type="submit">
		</form>

</body>
</html>